<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>{{site.title}}</title>
        {% if site.description is defined %}
        <description>{{site.description}}</description>
        {% endif %}
    </channel>
</rss>
