<span class="latex">L<sup>a</sup>T<sub>e</sub>X</span><style>
.latex {
    text-transform: uppercase;
}
.latex sup {
    font-size: 75%;
    vertical-align: 0.3em;
    margin-left: -0.2em;
    margin-right: -0.05em;
}
.latex sub {
    vertical-align: -0.2ex;
    margin-left: -0.1667em;
    margin-right: -0.025em;
}
</style>{#
#}
