name: CI

on: [ pull_request ]

jobs:
  build:

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        php: [ '7.4', '8.0', '8.1', '8.2', '8.3', '8.4' ]
        include:
          - os: macos-latest
            php: '8.4'
          - os: windows-latest
            php: '8.4'

    runs-on: ${{matrix.os}}

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{matrix.php}}
        extensions: fileinfo, json, pdo, mbstring, gd, ast, sqlite, pdo_sqlite

    - name: Set up TeXLive
      uses: zauguin/install-texlive@v4
      with:
        packages: scheme-basic latexmk listings float

    - name: Install
      run: |
        composer install

    - name: Test
      run: |
        composer test
        ./bin/basildon build docs/

    - name: Docker build
      uses: docker/build-push-action@v6
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.php == '8.4' }}
      with:
        call: check
